@* '@page'must be the first Razor directive on a page. *@
@page
@* the type of the model which passed to the Razor Page. *@
@model RazorPagesBook.Pages.Books.IndexModel

@* The '{' and '}' characters enclose a block of C# code. *@
@* The PageModel base class contains a 'ViewData' dictionary property that can be used to pass data to a View.*@
@* The 'Title' property is used in the 'Pages/Shared/_Layout.cshtml' file. *@
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <select asp-for="BookType" asp-items="Model.Types">
            <option value="">All</option>
        </select>
        BookType <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @* lambda expression *@
                @Html.DisplayNameFor(model => model.Book[0].ProductNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].PublicationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Book) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
